body {
    font-family: Arial, sans-serif;
    margin: 10px;
}

/* Header & Footer */
.header {
    background-color: #B2EBF2; 
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
    display: flex; 
    align-items: center;
}

.logo {
    width: 85px; 
    height: auto;
    margin-right: 20px;
}

.header-text {
    flex-grow: 1;
    text-align: center;
    margin-right: 100px; /* Biar teks beneran di tengah, nyeimbangin lebar logo */
}

.footer {
    background-color: #B2EBF2;
    text-align: center;
    padding: 5px;
    font-size: 14px;
}

/* Sidebar (Menu Kiri) */
.sidebar {
    text-align: center;
}
.menu-box {
    background-color: #D32F2F;
    padding: 15px;
    display: inline-block;
    width: 80%;
}
.menu-box a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 10px 0;
    font-weight: bold;
    font-size: 13px;
}

/* Form Input */
.form-container {
    padding: 20px;
}
.btn-submit {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 50px;
    cursor: pointer;
    width: 100%;
}

/* Tabel Jadwal Kuliah */
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 12px;
}
th, td {
    border: 1px solid #555;
    padding: 8px;
}
.bg-waktu { background-color: #eeeeee; }
.bg-senin { background-color: #FFCDD2; }
.bg-selasa { background-color: #DCEDC8; }
.bg-rabu { background-color: #C5CAE9; }
.bg-kamis { background-color: #FFF9C4; }